.Footer {
    margin-bottom: 30px;
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: gray;
    color: white;
    
        img{ 
            width: 280px;
        }
    
}
